build/
docs/
jars/
kawigi/*.class
kawigi/*.java~
kawigi/ahmed_aly/*.class
kawigi/ahmed_aly/*.java~
kawigi/cmd/*.class
kawigi/cmd/*.java~
kawigi/editor/*.class
kawigi/editor/*.java~
kawigi/language/*.class
kawigi/language/*.java~
kawigi/problem/*.class
kawigi/problem/*.java~
kawigi/properties/*.class
kawigi/properties/*.java~
kawigi/util/*.class
kawigi/util/*.java~
kawigi/widget/*.class
kawigi/widget/*.java~
rc/templates/*.ket~
rc/ui/*.ui~
*~

